table, th, td {
	border-style: solid;
	border-collapse: collapse;

	padding: 5px;
}

body {
	background-color: #555;
	color: lightgrey;
	max-width: 800px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 20px;
}

a {
	color: powderblue;
}