table, th, td {
	border-style: none none none solid;
	border-color: var(--fg4);
	border-collapse: collapse;

	padding: 5px;
}

table {
	border-style: solid;
	border-color: var(--fg4);
	border-width: 5px;
	background-color: var(--bg_h);
}

.tfullwidth {
	width: 100%;
}





th {
	background-color: var(--bg4);
	color: black;
}

tbody tr:nth-child(even) {
	background-color: var(--bg2);
}





/*
 * This is for a tree-style list I'm working on
 * it does not work on safari as webkit doesn't
 * support strings as bullets unless each li is
 * a block (iirc it's been a while since I
 * checked)
 *

ul {
	list-style-type: "── ";
	border-style: none none none solid;
	padding-left: 25px;
	margin-left: 12px;
	list-style-position: outside;

}



li {
	padding-left:;
}

 *
 */


/*
 * This for sitemap I made, part of the same
 * project as the tree lists.
 *


#sitemap {
	float: right;
	max-width: 150px;
	background-color: #eeb;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid var(--fg4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#sitemap ul {
	border-color: var(--fg4);
	margin-top: 0;
}

#sitemap a {
 / display: block; /
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

 *
 */


/* Huno */

	/* General */

html, body {
	overflow-wrap: break-word;
	margin: 0;
}

body {
	margin: auto;
	color: var(--fg);
	font-family: "georgia", times, serif;
	background-color: #2c3320;
	background-image: url(/topography.svg);
	image-rendering: pixelated;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	color: var(--green);
}

/* h1::before {
	content: "\a9c1\0020";
	line-height: 0.1;
}

h1::after {
	content: "\0020\a9c2";
	line-height: 0.1;
} */


h2 {
	color: var(--yellow);
}

h3 {
	color: var(--orange);
}

a {
	color: #048;
}

a:link {
	
}

a:visited {

}

a:hover {
	
}

.listlink a {
	
}

.picframe {
	border: solid 10px var(--bg4);
}

	/* layout */

header {
	margin-top: 70px;
}

#banner {
	color: var(--bg3);
	font-family: J24banner, "geOrgia", monospace, sans-serif;
	margin: 0px;
	line-height: 1;
	display: inline-block;
}

#banner a {
	color: var(--bg3);
	text-decoration: none;
}


#banner {
	font-size: 40pt;
}

#navv {
	
	display: flow-root;
	text-align: right;
	font-size: x-large;
	float: right;
	margin-top: 20px;
}

#navv a {
	text-decoration: none;
	color: var(--bg3);
	margin-left: 10px;
	margin-right: 10px;
}

#preprebox {
	max-width: 1030px;
	margin: auto;
}

#prebox {
	margin-left: 15px;
	margin-right: 15px;
}

#box {
	padding: 20px 20px 20px 20px;
	border: solid 5px var(--fg4);
	background-color: var(--bg_h);
	display: flow-root;
}



footer {
	padding-bottom: 20px;
	text-align: center;
	color: var(--bg3);
}

/* steve jobs is laughing at us from the grave */

@media screen and (max-width: 890px) {

	#navv {
		margin-top: 0px;
		float: none;
		text-align: center;
		padding-bottom: 5px;
	}

	#banner {
		
	}
	header {
		margin-top: 0px;
		text-align: center;
	}
	footer {
		padding-bottom: 0.25px;
	}
}

/* Spent two hours here trying to write a 
logarithmic/exponential function for vw before
realizing it literally just isn't possible in
CSS. Then I realized vw - px does the same
thing. THEN I decided I didn't even want to do
that. */


@media (450px < width < 650px) {

	.wow::after {
		content: "\A";
		white-space: pre;
	}
}





@media screen and (max-width: 650px) {

	#box {
		padding: 0 20px 0px 20px;
	}


	#navv {
		background-color: var(--bg_h);
		border: solid 5px var(--fg4);
		color: black;
		/* font-size: calc(4.2vw - 1.3px); */
		margin-bottom: 10px;
	}

	#navv a {
		color: #048;
		text-decoration: underline;
		/* margin-left: calc(1vw - 1px);
		margin-right: calc(1vw - 1px); */
	}

	.wow br {
		display: inline;
	}

	footer {
		background-color: var(--bg_h);
		border: solid 5px var(--fg4);
		color: var(--fg);
		margin-top: 10px;
		margin-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#banner {
		background-color: var(--bg_h);
		border: solid 5px var(--fg4);
		margin-bottom: 10px;
		margin-top: 15px;
		display: block;
		color: var(--fg);
	}
	#banner a {
		color: var(--fg3);
	}

	/* adds more 10px to margin bottom
	if the last element in article is
	a list */

	ul:last-child {
		margin-bottom: 26px;
	}

	ol:last-child {
		margin-bottom: 26px;
	}

	.sixfif {
		display: none;
	}

}



	/* attic

.tagline {
	text-align: center;
	font-family: geOrgia, times, serif;
	font-style: italic;
	margin: 0;
} */






	/* Loads banner font ITS ONLY 3.4 KB OKAY */
@font-face {
	font-family: J24banner;
	src: url(/Jacquard_24/J24bannersubset.woff2);
}

img { 
	max-width: 95%;
	margin: auto;
	border: var(--fg4) solid 5px;

	display: block;
}

figure {
	position: relative;
	background-color: var(--bg3);
	border: var(--fg4) solid 5px;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

figcaption {
	position: absolute;
	margin-top: -30px;
	margin-right: 10px;
	padding: 2px;
	background-color: var(--bg1);
	border: 5px solid var(--fg4);
	right: 0;
}



h1, h2, h3, h4, h5, h6 {
	
}


.colophon {
	width: 412px;
	border: none;
	vertical-align: top;
	background-color: #D2DCB6;
	border: var(--fg4) solid 5px;
	height: 173px;
	padding-top: 30px;
}

.inset {
	background-color: #D2DCB6;
	border: var(--fg4) solid 5px;
	padding: 10px;
	vertical-align: top;
	margin-bottom: 3px;
	height: 183px;
	display: inline-block;
	align-items: center;
}

.tinline {
	display:;
	vertical-align: top;
	width: 100%;
	border-style: solid solid none solid;
}



.wutt {
	text-align: center;
}
	
.wuttt > * {
	margin: 3px;
}

.nocss {
	display: none;
}

.vbox {
	background-color: #D2DCB6;
	border: var(--fg4) solid 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 10px 10px 10px;
}

.vbox h2 {

}

.monotable {
	font-family: monospace;
}



.wutimg { 
	max-width: 95%;
	margin: initial;
	border: initial;
	display: block;
}

.wutdiv {
	max-width: 400px;
	border: initial;
	float: right;
}

.splitrow {
	padding: 0;
}

.splitrow table {
	border: none;
	width: 100%;
}

.splitrow td {
	border-style: none solid none none;
}

summary {
	background-color: #c1cba5;
}	

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
	display: initial;
	color: var(--bg3);
	text-decoration: none;
	display: initial;
}


.anchor {
	display: none
}

