:root { /* color variables */
	--fg: black;
	--bg: #dfdfd0;
	--bg1: #cfcfc0;
	--bg1off: #ccccbc;
	--link: #044;
	--vlink: #204;
}



@media screen { /* style does not apply to prints */

	/* layout style */

#sitename {
	font-size: x-large;
	color: var(--fg);
	text-decoration: none;	
	font-style: italic;
}

#side{
	float: left;
	line-height: 1.5;
}

#side a::before { content:"❧ "; }

#side a {
	display: block;
	font-size: x-large;
	color: var(--fg);
	text-decoration: none;
	margin-left: 10px;
}

#box {
	max-width:500px;
	margin:auto;
}

#backtotop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: xx-large;
}

#backtotop > a {
	text-decoration: none;
	color: var(--fg);
}

.navdash { display: none; }

.nocss { display: none; }

	/* cosmetic style */

html {
	font-family: georgia, gelasio, serif;
	background-color: var(--bg);
	color: var(--fg);

	height: 100%;
}

p { line-height: 1.7; }

a { color: var(--link); }

a:visited { color: var(--vlink); }

hr {
	border: none;
	color: var(--fg);
	text-align: center;
	white-space: pre;
	font-size: smaller;
	margin-top: 20px;
	margin-bottom: -3px;
}

hr::before {
	content:"✽                   ✽                   ✽";
}
	

.footnotes hr {
	border: none;
	border-top: solid var(--fg) 1px;
	margin: initial;
}

.footnotes hr::before { content: none; }



h1 {
	text-align: center;
	font-variant: small-caps;
}

.anchor {
	text-decoration: none;
	font-size: large;
	color: var(--link);
}


figure {
	background-color: var(--bg1);
	margin: 10px 0px;
	
	border-radius: 0px;
}

figcaption {
	margin-left: 50px;
	padding-bottom: 5px;
}

.toc {
	background-color: var(--bg1);
	margin: -5px;
	padding: 5px;
	border-radius: 0px;
}

.toc > summary {
	font-weight: bold;
	background-color: var(--bg1off);
}
	
footer {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: smaller;
}

img { 
	width: 100%;
}

h2 {
	text-align: center;
}


	@media (max-width: 849px) {

#bar {
	display: flow-root;
	padding: 10px;
	background-color: var(--bg1);
	text-align: center;
}

#side[open] summary { display: list-item; }

summary { text-align: right; }

#mensum {
	background-color: var(--bg);
	padding: 5px;
}

#side a {
	font-size: initial;
	display: inline;
	margin: 0 3px;
	text-decoration: underline;
}

#side a::before { content:""; }

.hidemobile { display: none; }

details { float: right !important; }

#backtotop {
	
	background-color: var(--bg1);
	border-radius: 5px;
	padding: 5px;
}

#side {
	text-align: center;
	width: 100%;
}

	}
}




